FLASH_scripts/raytrace.ipynb filter=lfs diff=lfs merge=lfs -text
blender_builds/blensor/FLASH_blensor.blend filter=lfs diff=lfs merge=lfs -text
blender_builds/blender3.3.8/blender~ filter=lfs diff=lfs merge=lfs -text
